* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   
    width: 100vw;
    font-family: sans-serif;
    

}

header{
    height: 10vh;
    width: 100vw;
    margin-top: 0;
    background-color:blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    height: 90vh;
    width: 100vw;
    display: flex;
}

#map{

    
    width: 100vw;
    display: inline-block;
    
    
    
}

#mono.hidden {
    width: 50vw;
    background-color: white;
    animation: fade-out 3s forwards;
    display: none;
    opacity: 0;
}

#mono.visibility{
    
    animation: fade-in 3s forwards;
}



@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: inline-block !important;
        opacity: 1;
    }
    
}
@keyframes fade-out {
    from {
        display: inline-block !important;
        opacity: 1;
    }
    to {
        display: none !important;
        opacity: 0;
    }
    
}

#atributeTable{
    display: block;
}

#toggleButton{
    display: block;  
}

#button-separator{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#popupUbicacionProyecto{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.marker-transparent{
    opacity: 0;
}

#monografia-vertice{
    height: 100%;
    
}

